
/*create content-middle-2*/


#content main .content-middle-2 {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: -1rem;
	width: 100%;
	color: var(--dark);
}

#content main .content-middle-2 > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}

#content main .content-middle-2 h3 {
	font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
    margin-left: -4rem;
}

#content main .content-middle-2 .order {
	flex-grow: 1;
}
#content main .content-middle-2 .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .content-middle-2 .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .content-middle-2 .order table td {
	padding: 16px 25px;
}
#content main .content-middle-2 .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .content-middle-2 .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .content-middle-2 .order table tbody tr:hover {
	background: var(--grey);
}
#content main .content-middle-2 .order table tr td .status {
	font-size: 10px;
	padding: 6px 25px 6px 23px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
    width:70px;
}
#content main .content-middle-2 .order table tr td .status.completed {
	background: var(--blue);
}
#content main .content-middle-2 .order table tr td .status.process {
	background: var(--yellow);
}
#content main .content-middle-2 .order table tr td .status.pending {
	background: var(--orange);
}